<div class="center">
<h3> Calculations </h3>
<hr>
<h4> Score = ES + SS </h4>
<h4> ES = College Score + Company Score </h4>
<h4> SS = Skills Score = Number of skills Matched </h4>
<hr>
<h5> College Score = A * (a.x1 + b.x2 + c.x3) </h5>
<p>a  = (college name matches or not)
b = (degree matches or not)
c = (field matches or not)
x1 = 4 , x2 = 2, x3 = 1
A = 2 * (position of college in experience chain)
</p>
<hr>
<h5> Company Score = B * (p.y1 + q.y2 + r.y3 + s.y4) </h5>
<p>
p  = (industry matches or not)
q = (company matches or not)
r = (Role matches or not)
s = (position matches or not)
B = 2 * (position of Company in experience chain)
y1 = 8 , y2 = 4, y3 = 2, y4 = 1
</p>
<hr>
</div>


<h3 class="center"> Recommendations </h3>
<table class="table">
<thead>
  <th>User</th>
  <th>Mentor</th>
  <th>Score</th>
  <th>Skills</th>
  <th>Skills Score</th>
  <th>Companies</th>
  <th>Colleges</th>
  <th>Experience Score</th>
</thead>
<% NewRecommendation.all.each do |r| %>
<tr>
<td>
<%= r.user_email %>
</td>

<td>
<%= r.mentor_email %>
</td>

<td>
<%= r.score %>
</td>

<td>
<%= r.preferences["skills"].map {|s| s["skill"]["name"]} %>
</td>

<td>
<%= r.preferences["skills_total_score"] %>
</td>

<td>
<%= r.preferences["companies"] %>
</td>

<td>
<%= r.preferences["educations"] %>
</td>

<td>
<%= r.preferences["experience_total_score"] %>
</td>


</tr>


<% end %>
</table>