<%= render 'sadhna_cards/header' %>

<div class="badges container">

  <ul class="sc_list list-group">
  
  <%        
    @names = ["Vaikuntha", "Mathura", "Vrndavana", "Govardhana"]
    points = [10,20,50,100]
    total_points = 0
    index = 0
    [@level_1_badges, @level_2_badges, @level_3_badges, @level_4_badges].each do |badges| 
        @level_x_locked_badges = badges & @locked_badges
        if badges.count {|x| x[1]} > 0
           total_points += points[index]*(badges.count - @level_x_locked_badges.count)
        end
        index += 1
    end
  %>  
    
  <h4 class='perc'> Total Points = <%= total_points %> </h4>
  <hr>
    <%
      @count = 0
      [@level_1_badges, @level_2_badges, @level_3_badges, @level_4_badges].each do |badges| 
        @level_x_locked_badges = badges & @locked_badges
    %>
        <h4 class="level_<%= @count+1 %>"><%= @names[@count] %> Badges</h4>      
        <br>
        <% if badges.count {|x| x[1]} > 0 %>
    <label>Badges Awarded (<%= badges.count - @level_x_locked_badges.count %>) </label> 
    <div>
      <span> Points per badge = <%= points[@count] %></span>
      <label class="right"> Points earned (<%= points[@count]* (badges.count - @level_x_locked_badges.count) %>)</label>
    </div>
          <% @unlocked_badges.each do |badge| %>
            <% if badges.include?(badge) %>
                <li class="list-group-item unlocked">
                  <table>
                    <td>
                      <%= badge[0] %>
                    </td>
                    <td>
                      <span class="level_<%= @count+1 %> glyphicon glyphicon-star"></span>
                    </td>
                  </table>
                </li>
            <% end %>
          <% end %>
        <% end %>
        <br>
    
        <% if @level_x_locked_badges.count > 0 %>
          <label>Badges In Progress</label>
            <% @locked_badges.each do |badge| %>
              <% if badges.include?(badge) %>
                <li class="list-group-item locked">
                  <table>
                    <td>
                      <%= badge[0] %>
                    </td>
                    <% if badge[2].present? %>
                      <td>
                        <span class="level_<%= @count+1 %>"> <%= badge[2].round(0) %>% </span>
                      </td>
                    <% end %>
                  </table>
                </li>
              <% end %>
            <% end %>
        <% else %>
          <label>You have achieved all <%= @names[@count] %> badges</label>
        <% end %>
    <hr>
    <% 
        @count += 1
      end 
    %>

  </ul>


<style type="text/css">
  .level_1{
    color: green !important;
  }
  .perc {
      color: orange !important;      
  }

  .level_2{
    color: red !important;
  }
    
  .level_3{
    color: DeepSkyBlue !important;
  }
  
  .level_4{
    color: DeepPink !important;
  }
  .badges td {
    width: 92% !important;
  }
  .right {
    float: right;
  }

  



</style>
