<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>

<!-- <head>
  <hr>
  <div class="container">
    <button id="save" class="btn btn-primary">Save as PDF</button>
  </div>
  <hr>
</head> -->

<body>
<div class="container-fluid">

<img class="img" src="/images/Krishna_in_Vraja_1-3-2.jpg">

<h4 class="center"> He who is regulated in his habits of eating, sleeping, recreation and work can mitigate all material pains by practicing the yoga system. (BG 6.17) </h4>


<div class="title">Sādhanā Card</div>
<div class="sc_header">
  <div class="flex">
    <span class="table-header">Name: <%= @user.name %> </span>
    <span class="table-header">Month/Year: <%= @month %> / <%= @year %> </span>
  </div>

  <% @sadhna_cards.each_slice(7).to_a.each do |cards| %>

    <div class="flex">
      <span class="name1-header"></span>
      <% cards.each do |c| %>
        <span class="cell-header"><%= c.date %> </span>
      <% end %>
    </div>

    <div class="flex">
      <span class="name1">Woke Up At
      <div>(Jīva Jāgo)</div>
      </span>
      <% cards.each do |c| %>
        <span class="cell"><%= if c.wakeup then c.wakeup.strftime("%I:%M%p") else nil end %> </span>
      <% end %>
    </div>

    <div class="flex">
      <span class="name1">Japa
        <div>(Number of Rounds)</div></span>
      <% cards.each do |c| %>
        <span class="cell"><%= c.japa_rounds %> </span>
      <% end %>
    </div>

    <div class="flex">
      <span class="name1">Reading
        <div> (Number of pages or minutes) </div></span>
      <% cards.each do |c| %>
        <span class="cell">
          <% c.sadhna_card_books.each do |b| %>
              <span>
              <br>
              <%= ret = if b.book.present? then b.book else "" end %>
              
              <br>
              </span>
            <%=
                ret = "("
                ret += if b.qty.present? then b.qty.to_s + " " + b.unit end
                ret += ")"
                ret
            %>
            <br>
          <% end %>

        </span>
      <% end %>
    </div>

    <div class="flex">
      <span class="name1">CHAD</span>
      <% cards.each do |c| %>
        <% 
          chad = get_chapter(c.chad) 
          parts = nil
          if chad.present? and chad.include? '('
            parts = chad.split('(')
            parts[1] = '(' + parts[1]
          end
        %>
        <span class="cell">
          <% if parts.present? %>
            <%= parts[0] %>
            <br>
            <%= parts[1] %>
          <% else %>
            <%= chad %>
          <% end %>
        </span>
      <% end %>
    </div>

    <div class="flex">
      <span class="name1">Services <div>(Time Engaged)</div></span>
      <% cards.each do |c| %>
        <span class="cell"><%= if c.service.present? then c.service + " mins" else "0 mins" end %> </span>
      <% end %>
    </div>

    <div class="flex">
      <span class="name1">Slept At</span>
      <% cards.each do |c| %>
        <span class="cell"><%= if c.rest_time then c.rest_time.strftime("%I:%M%p") else nil end %> </span>
      <% end %>
    </div>

    <div class="flex">
      <span class="name1">Hearing <div>(Śravaṇa)</div></span>
      <% cards.each do |c| %>
        <span class="cell"><%= if c.hearing.present? then c.hearing + " mins" else "0 mins" end %> </span>
      <% end %>
    </div>
  

    <div class="flex">
      <span class="name1">Notes</span>
      <% cards.each do |c| %>
        <span class="cell"><%= c.comments %> </span>
      <% end %>
    </div>
  
  <% end %>
  </div>


</div>
</body>

<script type="text/javascript">
  
  let doc = new jsPDF('p','pt','a4');

  doc.addHTML(document.body,function() {
      doc.save('<%= "sadhana_card_#{@month}_#{@year}.pdf" %>');
  });  

  
</script>

<style type="text/css">
  
  .center {
    text-align: center;
  }

  .title {
    background-color: red !important;
    color: white !important;
    height: 30px !important;
    text-align: center !important;
    font-size: 20px !important;
    -webkit-print-color-adjust: exact; 
  }

  .name1 {
    width: 12.5% !important;
    padding: 10px 10px 10px 10px !important;
    border: 1.1px solid grey !important;
    font-weight: bold !important;
    background-color: #eaeaea !important;
    color: blue !important;
    -webkit-print-color-adjust: exact; 
  }

  .name1-header {
    width: 12.5%;
    padding: 10px 10px 10px 10px;
    border: 1.1px solid grey !important;
    background-color: #eaeaea !important;
    font-weight: bold !important;
    color: blue !important;
    -webkit-print-color-adjust: exact; 
  }

  .cell-header {
    width: 12.5%;
    padding: 10px 10px 10px 10px;
    border: 1.1px solid grey !important;
    background-color: #eaeaea !important;
    font-weight: bold !important;
    color: blue !important;
    -webkit-print-color-adjust: exact; 
  }

  .cell {
    width: 12.5%;
    padding: 10px 10px 10px 10px;
    border: 1.1px solid grey !important;
    font-weight: bold !important;
    -webkit-print-color-adjust: exact; 
  }


  .table-header {
    width: 50%;
    padding: 10px 10px 10px 10px;
    border: 1.1px solid grey !important;
    background-color: #eaeaea !important;
    font-weight: bold !important;
    -webkit-print-color-adjust: exact; 
  }

  .flex {
    display: flex;
  }

  .img {
    width: 100%;
  }

  #save {
    width: 100%
  }

</style>

