

<%= render 'sadhna_cards/header' %>

<% if current_user == @user || current_user.role == 'admin' %>

	<div class="container">

    <h4><%= @user.name %> Sadhana Details </h4>

    
	    <div class="form-group">
	      <label for="month">Month:</label>
	      <select class="form-control" id="month">
	        <% @months.each do |month| %>
	          <% if month[0].to_s == @month.to_s %>
	            <option selected value="<%=month[0]%>"><%=month[1]%></option>
	          <% else %>
	            <option value="<%=month[0]%>"><%=month[1]%></option>
	          <% end %>
	        <% end %>
	      </select>
	    </div>
	    <div class="form-group">
	      <label for="year">Year:</label>
	      <select class="form-control" id="year">
	        <% @years.each do |year| %>
	          <% if year.to_s == @year.to_s %>
	            <option selected value="<%=year%>"><%=year%></option>
	          <% else %>
	            <option value="<%=year%>"><%=year%></option>
	          <% end %>
	        <% end %>
	      </select>
	    </div>
	    <button id="load" class="btn btn-primary">Show</button>
	    <button id="download" class="btn btn-primary">Download</button>

	  <ul class="sc_list list-group">
	    <label><%= @month_name %> - <%= @year %> Sadhana</label>
	      <li class="list-group-item">
	        <table>
	          <td>
	            Sadhana Cards
	          </td>
	          <td>
	            <%= @current_month_sadhna_cards %>
	          </td>
	        </table>
	      </li>        
	      <li class="list-group-item">
	        <table>
	          <td>
	            Japa Rounds
	          </td>
	          <td>
	            <%= @current_month_rounds %>
	          </td>
	        </table>
	      </li>        
	      <li class="list-group-item">
	        <table>
	          <td>
	            Reading (Time/Pages)
	          </td>
	          <td>
	            <%= @current_month_reading_hours %>
		    <br>
	            <%= @current_month_reading_pages %> Pages
	          </td>
	        </table>
	      </li>        
	      <li class="list-group-item">
	        <table>
	          <td>
	            Hearing Hours
	          </td>
	          <td>
	            <%= @current_month_hearing_hours %>
	          </td>
	        </table>
	      </li>  
		   <li class="list-group-item">
	        <table>
	          <td>
	            CHAD Verses
	          </td>
	          <td>
	            <%= @current_chad_verses %>
	          </td>
	        </table>
	      </li>    
	      <li class="list-group-item">
	        <table>
	          <td>
	            Service Hours
	          </td>
	          <td>
	            <%= @current_month_service_hours %>
	          </td>
	        </table>
	      </li>
	      <li class="list-group-item">
	        <table>
	          <td>
	            Days when chanted more than <%= @user.target_rounds %> rounds
	          </td>
	          <td>
	            <%= @current_days_gt_target %>
	          </td>
	        </table>
	      </li>  
	  </ul> 

	  <ul class="sc_list list-group">
	    <label>All Time Sadhana</label>
	      <li class="list-group-item">
	        <table>
	          <td>
	            Sadhana Cards
	          </td>
	          <td>
	            <%= @total_sadhna_cards %>
	          </td>
	        </table>
	      </li>
	      <li class="list-group-item">
	        <table>
	          <td>
	            Japa Rounds
	          </td>
	          <td>
	            <%= @total_rounds %>
	          </td>
	        </table>
	      </li>        
	      <li class="list-group-item">
	        <table>
	          <td>
	            Reading (Time/Pages)
	          </td>
	          <td>
	            <%= @total_reading_hours %>
			  <br>
		    <%= @total_reading_pages %>	Pages
	          </td>
	        </table>
	      </li>        
	      <li class="list-group-item">
	        <table>
	          <td>
	            Hearing Hours
	          </td>
	          <td>
	            <%= @total_hearing_hours %>
	          </td>
	        </table>
	      </li>      
	          <li class="list-group-item">
	        <table>
	          <td>
	            CHAD Verses
	          </td>
	          <td>
	            <%= @total_chad_verses %>
	          </td>
	        </table>
	      </li>  
	      <li class="list-group-item">
	        <table>
	          <td>
	            Service Hours
	          </td>
	          <td>
	            <%= @total_service_hours %>
	          </td>
	        </table>
	      </li>   
	     <li class="list-group-item">
	        <table>
	          <td>
	            Days when chanted more than <%= @user.target_rounds %> rounds
	          </td>
	          <td>
	            <%= @total_days_gt_target %>
	          </td>
	        </table>
	      </li> 
	  </ul>

	</div>
<% end %>

<script type="text/javascript">
	$("#load").click(function(){
		month = $("#month").val()
		year = $("#year").val()

		window.location = "/users/" + '<%= @user.id %>' + '?month=' + month + "&year=" + year
	})

	$("#download").click(function(){
		month = $("#month").val()
		year = $("#year").val()

		window.location = "/users/" + '<%= @user.id %>' + '/report?month=' + month + "&year=" + year
	})

</script>
<style>
	td {
		width: 70% !important;	
	}
	
</style>
