<div class="container-fluid">
  <%= form_tag model: @sadhna_card do %>

     <% if @sadhna_card.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@sadhna_card.errors.count, "error") %> prohibited
          this sadhna_card from being saved:
        </h2>
        <ul>
          <% @sadhna_card.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <label>Date</label>
    <% if @sadhna_card.id.present? %>
      <input type="date" value="<%= @sadhna_card.date %>" id="date"></input>
    <% else %>
      <input type="date" value="<%= Time.zone.now.to_date %>" id="date"></input>
    <% end %>

    <br>
    <br>

    <form class="form-inline">
      <div class="form-group">
        <label for="japa_rounds">Japa rounds</label>
        <input type="number" class="form-control" id="japa_rounds" value="<%= @sadhna_card.japa_rounds %>">
      </div>
    </form>

    <div class="form-group">
      <label for="reading">Reading</label>
      <table class="row">
        <td class="first_column">
          <input type="number" class="form-control" id="reading" value="<%= @sadhna_card.reading %>">
        </td>
        <td class="second_column">
          <!-- <input type="text" readonly value=""> -->
          <select class="form-control" id="reading_type">
            <option value="Mins">Mins</option>
            <option value="Hrs">Hrs</option>
          </select>
        </td>
      </table>
    </div>

    <div class="form-group">
      <label for="hearing">Hearing</label>
      <table class="row">
        <td class="first_column">
          <input type="number" class="form-control" id="hearing" value="<%= @sadhna_card.hearing %>">
        </td>
        <td class="second_column">
          <!-- <input type="text" readonly value=""> -->
          <select class="form-control" id="hearing_type">
            <option value="Mins">Mins</option>
            <option value="Hrs">Hrs</option>
          </select>
        </td>
      </table>
    </div>

    <div class="form-group">
      <label for="service">Service</label>
      <table class="row">
        <td class="first_column">
          <input type="number" class="form-control" id="service" value="<%= @sadhna_card.service %>">
        </td>
        <td class="second_column">
          <!-- <input type="text" readonly value=""> -->
          <select class="form-control" id="service_type">
            <option value="Mins">Mins</option>
            <option value="Hrs">Hrs</option>
          </select>
        </td>
      </table>
    </div>

    <div class="form-group">
      <table class="row">
        <td class="first_column">
          <label for="chad">CHAD</label>
          <input type="number" placeholder="chapter" class="form-control" id="chad" value="<%= @sadhna_card.chad %>">
        </td>
        <td class="second_column">
          <label for="verse">Verses</label>
          <input type="number" placeholder="Number of Verses" class="form-control" id="verses" value="<%= @sadhna_card.verses %>">
        </td>
      </table>
    </div>
    <div class="form-group">
      <label for="wake_up">Wake Up</label>
      <% if @sadhna_card.wakeup.present? %>
        <input type="time" class="form-control" id="wake_up" value="<%= @sadhna_card.wakeup.strftime("%H:%M") %>">
      <% else %>
        <input type="time" class=" form-control" id="wake_up">
      <% end %>
    </div>
    <div class="form-group">
      <label for="slept_at">Slept at</label>
      <% if @sadhna_card.rest_time.present? %>
        <input type="time" class=" form-control" id="slept_at" value="<%= @sadhna_card.rest_time.strftime("%H:%M") %>">
      <% else %>
          <input type="time" class=" form-control" id="slept_at">
      <% end %>
    </div>

  <% end %>
</div>