<div class="container-fluid">
  <%= form_tag model: @sadhna_card do %>

     <% if @sadhna_card.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@sadhna_card.errors.count, "error") %> prohibited
          this sadhna_card from being saved:
        </h2>
        <ul>
          <% @sadhna_card.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

<!--     <% if @sadhna_card.id.present? %>
      <label>Date</label>
      <text><%= @sadhna_card.date %></text>
    <% end %>
 -->
    <div class="form-group">
      <label for="japa_rounds">Japa rounds</label>
      <input type="text" class="form-control" id="japa_rounds" value="<%= @sadhna_card.japa_rounds %>">
    </div>
    <div class="form-group">
      <label for="reading">Reading</label>
      <input type="text" class="form-control" id="reading" value="<%= @sadhna_card.reading %>">
    </div>
    <div class="form-group">
      <label for="hearing">Hearing</label>
      <input type="text" class="form-control" id="hearing" value="<%= @sadhna_card.hearing %>">
    </div>
    <div class="form-group">
      <label for="service">Service</label>
      <input type="text" class="form-control" id="service" value="<%= @sadhna_card.service %>">
    </div>
    <div class="form-group">
      <label for="chad">CHAD</label>
      <input type="text" class="form-control" id="chad" value="<%= @sadhna_card.chad %>">
    </div>
    <div class="form-group">
      <label for="wake_up">Wake Up</label>
      <input type="text" class="timepicker form-control" id="wake_up" value="<%= @sadhna_card.wakeup %>">
    </div>
    <div class="form-group">
      <label for="slept_at">Slept at</label>
      <input type="text" class="timepicker form-control" id="slept_at" value="<%= @sadhna_card.rest_time %>">
    </div>

  <% end %>
</div>