<%= render 'header' %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  </head>
  <body>

    <div class="container">

      <!-- Content here -->

      <div>
        <div class="form-group">
          <label for="month">Month:</label>
          <select class="form-control" id="month">
            <% @months.each do |month| %>
              <% if month[0].to_s == @month.to_s %>
                <option selected value="<%=month[0]%>"><%=month[1]%></option>
              <% else %>
                <option value="<%=month[0]%>"><%=month[1]%></option>
              <% end %>
            <% end %>
          </select>
        </div>
        <div class="form-group">
          <label for="year">Year:</label>
          <select class="form-control" id="year">
            <% @years.each do |year| %>
              <% if year.to_s == @year.to_s %>
                <option selected value="<%=year%>"><%=year%></option>
              <% else %>
                <option value="<%=year%>"><%=year%></option>
              <% end %>
            <% end %>
          </select>
        </div>
        <button id="load" class="btn btn-primary">Show</button>
        <button id="download" class="btn btn-primary">Download</button>
        <a id="download_link" download>Download Link</a>
        <form class="add_new_sc" action="/sadhna_cards/new">
          <button type="submit" class="btn btn-success">Add Sadhana Card
          </button>
        </form>
      </div>

      <br>

      <ul class="sc_list list-group">
        <% if @sadhna_cards.count > 0 %>
          <% @sadhna_cards.each do |card| %>
            <li class="list-group-item">
              <form action="/sadhna_cards/<%= card.id %>">
                <button type="submit" class="btn"><%= card.date %>
                </button>
              </form>
              
            </li>
          <% end %>
        <% else %>
          <li class="list-group-item"> No Sadhana Cards found for selected month </li>          
        <% end %>

      </ul>

    </div>
    
  </body>
</html>

<script type="text/javascript">
  $(document).ready(function(){

    $("#load").click(function(e){

      data = {
        month: $('#month').val(),
        year: $('#year').val(),
      }
      // console.log(data)
      window.location.href = "/sadhna_cards?month=" + data.month + "&year=" + data.year
    })

    $("#download_link").hide()

    $("#download").click(function(e){

      data = {
        month: $('#month').val(),
        year: $('#year').val(),
      }
      user_id = '<%= current_user.id %>'
      // console.log(data)

      url = "/users/" + user_id + "/report?month=" + data.month + "&year=" + data.year
      window.location = url

    })
  })
</script>

<style type="text/css">
  
  .sc_list .btn {
    width: 100% !important;
  }

  .add_new_sc {
    float: right;
  }
</style>